{% extends "base.html" %}

{% block content %}
<h1 class="errorpage-title">Page Not Found (404)</h1>
<div class="errorpage-text">
  <h4>What you were looking for is just not there!</h4>
</div>
{% endblock %}
