/* User Profile Styling
 **********************/
.user-profile-title {
  text-align: center;
  font-size: 2.0rem;
}

.card {
  background-color: #136C72;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 1em;
  text-align: center;
  padding: 0 1em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-heading {
  border-bottom: 3px solid black;
}

.card-body {
  padding: 8px 0;
}

.card-body p {
  margin-bottom: 0.5em;
}